<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Your Cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Title</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let each of uniqueItems; index as i">
                <th scope="row">{{i+1}}</th>
                <td><img class="img-fluid me-3" [src]="each.product.thumbnail" alt="" width="32px" height="32px" style="aspect-ratio: 1;"></td>
                <td>{{each.product.title}}</td>
                <td>{{each.qty}}</td>
                <td>{{each.product.price}}</td>
                <td>{{each.totalPrice}}</td>
              </tr>
              <tr>
                <th scope="row" colSpan="5">Total Items: {{myitems.length}}</th>
                <td class="fw-bold">{{totalprice | currency : "Rs."}}</td>
              </tr>
            </tbody>
          </table>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
          <a type="button" class="btn btn-success" data-bs-dismiss="modal" routerLink="/checkout">Proceed to Checkout</a>
        </div>
      </div>
    </div>
  </div>